@charset "UTF-8";

html, body{

	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	text-align: center;
	background-color: #0a0029;
	color: #fff;

}

.div_center{

	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -180px;
	position: absolute;
	background-color: #fff;
	padding: 35px;
	border-radius: 5px;


}

.input_usuario, .input_senha{

	height: 22px;
	height: 30px;
    border: none;
    color: #222;
    border-bottom: 2px solid #8c8c8c;
    width: 100%;
    margin-top: 10px;

}

.button_entrar{

	height: 33px;
	background-color: #ed2350;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	margin-top: 10px;

}

.img_sobre{

	max-height: 100px;

}

.form_index{

	margin-top: 10px;

}

.esqueci-minha-senha{

	color: #337ab7;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;

}

.header_topo{

	margin: 0px;
	padding: 0px;
	width: 100%;
	clear: both;
	background-color: #fff;
	height: 80px;
	position: fixed;
	z-index: 9999;

}

.nav_menu{

	margin: 0px;
	padding: 0px;

}

.img_menu{

	float: left;
	margin: 25px 0 15px 0;

}

.img_i_menu{

	width: 70px;
	margin-left: 15px;

}

.ul_menu{

	float: right;
	margin-top: 25px;
	margin-right: 20px;

}

#menu_responsivo{

	width: 40px;
	height: 40px;
	background-image: url("../images/menu_icon.png");
	background-size: 100%;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	cursor: pointer;
	float: right;
	margin: 22px 5px 5px 0;
	display: none;

}

@media (min-width: 600px){

	.menu,
	.sub-menu {
	  margin: 0;
	  padding: 0;
	}
	.clearfix:after{
	  content: '.';
	  display: block;
	  clear: both;
	  height: 0;
	  line-height: 0;
	  font-size: 0;
	  visibility: hidden;
	  overflow: hidden;
	}
	.menu,
	.sub-menu {
	  list-style: none;
	  background: #000;
	}

	.menu{

		margin: 25px 15px 0px 0px;

	}

	.sub-menu {
	  background: #444;
	}
	.menu a {
	  text-decoration: none;
	  display: block;
	  padding: 10px;
	  color: #fff;
	  font-family: sans-serif;
	  font-size: 14px;
	  text-transform: uppercase;
	  font-weight: 700;
	}
	.menu li {
	  position: relative;
	}
	.menu > li {
	  float: left;
	}
	.menu > li:hover {
	  background: #444;
	}
	.menu li:hover > .sub-menu {
	  display: block;
	}

	.sub-menu {
	  display: none;
	  position: absolute;
	  min-width: 150px;
	  margin-left: -111px;
	}

	.sub-menu li:hover {
	  background: #555;
	}

	.sub-menu .sub-menu {
	  top: 0;
	  left: 100%;
	}

	.menu{

		float: right;

	}	

}

@media (max-width: 599px){

	#menu_responsivo{

		display: block;

	}

	.menu,
	.sub-menu {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}

	.clearfix:after{
	  content: '.';
	  display: block;
	  clear: both;
	  height: 0;
	  line-height: 0;
	  font-size: 0;
	  visibility: hidden;
	  overflow: hidden;
	}
	.menu,
	.sub-menu {
	  list-style: none;
	  background: #000;
	}

	.menu,
	.sub-menu {
	  list-style: none;
	  background: #000;
	}

	.menu{

		margin: 25px 15px 0px 0px;

	}

	.sub-menu {
	  background: #444;
	}

	.menu a {
	  text-decoration: none;
	  display: block;
	  padding: 10px;
	  color: #fff;
	  font-family: sans-serif;
	  font-size: 14px;
	  text-transform: uppercase;
	  font-weight: 700;
	}
	.menu li {
	  position: relative;
	}
	.menu > li:hover {
	  background: #444;
	}
	.menu li:hover > .sub-menu {
	  display: block;
	}

	.sub-menu {
	  display: none;
	  width: 100%;
	}

	.sub-menu li:hover {
	  background: #555;
	}

	.sub-menu .sub-menu {
	  top: 0;
	  left: 100%;
	}

	.menu{

		width: 100%;

		display: none;
		margin-top: 67px;

	}

}

footer{

	background-color: #fff;
    padding: 20px 0px 20px 0px;
    position: absolute;
    width: 100%;

}

small{

	color: #0a0029;
	font-size: 1.1em;
	font-family: sans-serif;

}


article{

	padding: 100px 0 0;
    height: 800px;
    width: 100%;

}

h1{

	color: #fff;
	margin-top: 200px;
	font-family: sans-serif;

}

table{

	background-color: #fff;
	color: #000;

}

th, td{

	border: 1px solid;

}

.h1{

	margin-top: 0px;

}

.button_reg_saida, .button_alt_pessoa{

	border: 0px;
    background: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    height: 32px;

}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.fechar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.p-modal{

	font-size: 1.8em;
	color: #000;

}

.botao-modal, .botao-cad-modal{

	background-color: #fff;
	border: 1px solid;
	border-color: #c0c0c0;
	color: #55acee;
	padding: 5px;
	width: 150px;
	font-size: 1.8em;
	margin-top: 20px;
	transition: 0.5s all;
	cursor: pointer;

}

.botao-modal:hover, .botao-cad-modal:hover{

	background-color: #55acee;
	border: 1px solid;
	border-color: #55acee;
	color: #fff;
	padding: 5px;
	font-size: 1.8em;
	margin-top: 20px;
	transition: 0.5s all;

}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	margin: auto;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

th{

	text-align: center;

}

.input_buscar{

	color: #000;
	width: 500px;
	margin-bottom: 10px;
	text-align: center;

}

.button_buscar{

	width: 200px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 0px;
    font-weight: bold;
    color: #000;
    font-family: sans-serif;
    border-radius: 3px;
    height: 32px;

}

.button_buscar:hover{

	background-color: rgba(250,250,250,0.9);

}

input, select{

	color: #000;

}

select{

	height: 28px;
	background-color: #fff;

}

.input_modal{

	text-align: center;

}

#esqueci-senha{

	display: none;
	margin-left: -214px;

}

.voltar{

  width: 50px;
  margin-left: 10px;
  z-index: 99999999999999999;
  position: absolute;

}

#voltar-ao-site{

	margin-top: 20px;
	background: #ed2350;
	border: none;
	height: 40px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px; width: 100%;

}

#voltar-ao-site:hover{

	background: #eb395f;

}

@media (max-width: 510px){

	.input_buscar{

		width: 100%;

	}

}
@media (min-width: 510px){

	.input_buscar{

		width: 500px;

	}

}

.div_imprimir{

	text-align: right;

}

.button_imprimir{

	background-image: url('../images/excel.png');
    background-size: 100%;
    width: 20px;
    background-color: rgba(0,0,0,0);
    height: 20px;
    border: 0px;
    cursor: pointer;
    margin-right: 10px;

}

#input_numero_id, #input_vale_id{

	display: none;

}